---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>
  
  <ul class="post-list">
    {% for category_hash in site.categories %}
      {% for category in category_hash %}
        <li>{{ category | first }}</li>
      {% endfor %}
    {% endfor %}
  </ul>


  <ul class="post-list">
    {% for helpdoc in site.helpdocs %}
      <li>
        <h2>
          {{ helpdoc | first }}
        </h2>
      </li>
      <li>
          <a class="post-link" href="{{ helpdoc.url | prepend: site.baseurl }}">{{ helpdoc.title }}</a>
      </li>
      </li>
    {% endfor %}
  </ul>

</div>
